= content_for(:title, "Home")
:javascript
  $( $.fn.cycle.defaults.autoSelector ).cycle();
    
- flash.each do |name, msg|
  - if msg.is_a?(String)
    = content_tag :div, msg, :class => "flash_#{name}"

.welcome    
  %h1 Welcome to The Dunbar Research Group  

.homepage-content
  .slider-wrapper
    .cycle-slideshow.slider{"data-cycle-caption-fx-in" => "slideDown", "data-cycle-caption-fx-out" => "slideUp", "data-cycle-caption-plugin" => "caption2", "data-cycle-fx" => "scrollHorz", "data-cycle-slides" => "> div", "data-cycle-timeout" => "3000"}
      - @sliderImages.each.with_index do |slider_image, index|
        .innerWrapper{"data-cycle-title" => slider_image.title}
          %table
            %td{:width => "50%"}
              %img.slide1img{:alt => "", :src => slider_image.slider_image_picture}/
            %td{:width => "50%"}
              %p.slide2text "#{slider_image.title}"
              %a.button{:href => slider_image.link} More
  .news    
    -if logged_in? && current_user_admin?
      %h4= link_to "News", announcements_path
    -else
      %h4 News
    - @announcements.first(10).each do |announcement|
      .news-item
        = announcement.content.html_safe
        = announcement.date
:javascript
  $( "#home" ).click(function() {
    $( $.fn.cycle.defaults.autoSelector ).cycle();
  });
