= content_for(:title, "Home")
:javascript
  $( $.fn.cycle.defaults.autoSelector ).cycle();
    
- flash.each do |name, msg|
  - if msg.is_a?(String)
    = content_tag :div, msg, :class => "flash_#{name}"

.homepage-content
  .slider-wrapper
    .cycle-slideshow.slider{"data-cycle-caption-fx-in" => "slideDown", "data-cycle-caption-fx-out" => "slideUp", 
    "data-cycle-caption-plugin" => "caption2", "data-cycle-fx" => "scrollHorz", "data-cycle-slides" => "> div", "data-cycle-timeout" => "3000"}
      - @sliderImages.each.with_index do |slider_image, index|
        .innerWrapper{"data-cycle-title" => slider_image.title}
          .slider-table
            .slider-row
              .slider-image
                %img.slide1img{:src => slider_image.slider_image_picture}
              .slider-title
                %p.slide2text #{slider_image.title}
                .box-btn
                  = link_to "More", slider_image.link, :target => '_blank'
  -if logged_in? && current_user_admin?
    .box-btn.manage-slides
      = link_to "Manage Slides", slider_images_path, :title => "Manage slides"
                
  .news    
    %h2 News
    - New.getTopNews.each do |announcement|
      .news-item
        .news-title
          %strong
            = announcement.title
        .news-content
          = announcement.content.html_safe
        .news-date
          %p
            = announcement.created_at
    .more-news
      = link_to "Read More", announcements_path, :class => 'yellow-box-link'
:javascript
  $( "#home" ).click(function() {
    $( $.fn.cycle.defaults.autoSelector ).cycle();
  });
