= content_for(:title, "News")

- flash.each do |name, msg|
  - if msg.is_a?(String)
    = content_tag :div, msg, :class => "flash_#{name}"

%h1 News

.largest-row
  .news-list
    - @announcements.reverse_each.with_index do |announcement, index|
      .news-item
        = (index+1).to_s + "."
        = announcement.content.html_safe
        = announcement.date
          
        - if logged_in? && current_user_admin?
          = link_to image_tag("icons/icon_edit.png"), edit_announcement_path(announcement), :title => "Edit News" , :id => "Edit"
          = link_to image_tag("icons/icon_delete.png"), announcement_path(announcement), :title => "Delete News", :method => :delete, data: { confirm: "Are you sure?" } , :id =>"Delete"

- if logged_in? && current_user_admin?
  #add-announcement= link_to 'Add new News', new_announcement_path

