= content_for(:title, "Update Research Picture")
- if logged_in? && current_user_admin?
  .large-row
    %h1 Update Research Picture
    .edit-research-form
      = form_tag "/researches/update_picture/#{@research.id}", :method => :put, multipart: true do
        = label_tag :picture, 'Please provide an image to this research'
        = file_field_tag :picture, :class => 'entry'
        
        = submit_tag 'Update Picture', :id => 'update-research-picture'