= content_for(:title, "Research")
%h1 Research

.publication_list
  - @researches.each do |research|
    %table
      %tr
        %td.title
          %h2
            = link_to research.title.html_safe, research_path(research)
          = research.summary.html_safe

          
          - if logged_in? && current_user_admin?
            = button_to 'Delete', research_path(research), :method => :delete, :confirm => 'Are you sure?'
          

- if logged_in? && current_user_admin?
  #add_research= link_to 'Add new Research', new_research_path

