- if logged_in? && current_user_admin?
  .row
    %h1 Create New Research
    = form_tag({action: :create}, multipart: true) do
      = text_field_tag :title, nil, :class => 'entry', :placeholder => 'Research title', :required => true
      = text_area_tag :summary, nil, :class => 'entry', :placeholder => 'Summary', :required => true
      = text_area_tag :content, nil, :class => 'entry', :placeholder => 'Content', :required => true
      
      = submit_tag 'Create Research', :id => 'research_form_button'

- else
  %p Only users with privileges can add new publications.