= content_for(:title, "#{@research.title}")
.largest-row
  .research-content
    %h2#title.mercury-region{:name =>"title","data-mercury"=>"full"}
      = @research.title.html_safe
    %h3 Abstract
    %p#summary.mercury-region{"data-mercury" => "full"}
      = @research.summary.html_safe
    %h3 Content
    %p#content.mercury-region{"data-mercury" => "full"}
      = @research.content.html_safe  
    - if logged_in? && current_user_admin?
      = link_to "Edit", "/editor" + request.path, id: "edit_link", data: {save_url: mercury_update_research_path(@research)}, :id => "edit-research-btn"