- if logged_in?
  .row
    %h1 Edit Publication
    = form_tag publication_path(@publication), :method => :put, multipart: true do
      = text_field_tag :article, @publication.article, :class => 'entry', :placeholder => 'Article title', :required => true
      = text_field_tag :contributors, @publication.contributors, :class => 'entry', :placeholder => 'Contributors', :required => true
      = text_field_tag :journal, @publication.journal, :class => 'entry', :placeholder => 'Journar title', :required => true
      = text_field_tag :year, @publication.year, :class => 'entry', :placeholder => 'Year published', :required => true
      = text_field_tag :more_info, @publication.more_info, :class => 'entry', :placeholder => 'Additional information'
      = text_field_tag :pages, @publication.pages, :class => 'entry', :placeholder => 'Pages', :required => true
      = text_field_tag :link, @publication.link, :class => 'entry', :placeholder => 'URL', :required => true

      = label_tag :publication_picture, 'Please provide an image for the Article' 
      = file_field_tag :publication_picture, :class => 'entry'

      = submit_tag 'Update Publication', :id => 'publication_form_button'

- else
  %p Only users with privileges can add new members.
