= content_for(:title, "Publications")

- flash.each do |name, msg|
  - if msg.is_a?(String)
    = content_tag :div, msg, :class => "flash_#{name}"

.largest-row
  %h1 Publications

  .publication-list
    - @publications.each.with_index do |publication, index|
      .publication-item  
        .image
          = image_tag(publication.publication_picture)
        .publication-content
          .title
            = Publication.publicationNumber(params[:page], index)
            = publication.article.html_safe
          .authors
            = publication.contributors.html_safe
          .citation
            %i
              = publication.journal.html_safe
            %b
              = publication.year + ","
            = publication.more_info.html_safe + ","
            = publication.pages + "."
 
          .doi
            = link_to "View Publication", "#{publication.link}", :target => "_blank"

        - if logged_in? && current_user_admin?
          .edit_delete
            .buttons
              = link_to image_tag("icons/icon_edit.png"), edit_publication_path(publication), :title => "Edit publication #{index+1}" , :id => "Edit"
              = link_to image_tag("icons/icon_delete.png"), publication_path(publication), :title => "Delete publication #{index+1}", :method => :delete, data: { confirm: "Are you sure?" } , :id =>"Delete"
- if logged_in? && current_user_admin?
  #add_publication= link_to 'Add new Publication', new_publication_path
.apple_pagination 
  = will_paginate @publications, :container => false
