= content_for(:title, "Add group info")
- if logged_in? && current_user_admin?
  .row
    %h1 Create New Group Info
    #new-group-info-form.new-group-info-form
      = form_tag({action: :create}, multipart: true) do
        = text_field_tag :title, nil, :class => 'entry', :placeholder => "Group info title", :required => true

        = label_tag :file, "Please provide a file for the group info"
        = file_field_tag :file, :class => 'entry'
        
        = label_tag :category, 'Please select the category of the group info file'
        = select_tag :category, options_for_select(@categories), :class => 'entry', :id => "category-selector"

        = submit_tag 'Create Group Info', :id => 'group-info-form-button'

- else
  %p Only users with privileges can add new group info
