= content_for(:title, "Outreach")
- flash.each do |name, msg|
  - if msg.is_a?(String)
    = content_tag :div, msg, :class => "flash_#{name}"
.wide-row
  %h1 Outreach
  .events-list
    - @events.each do |event|
      .event-item
        .event-picture
          = image_tag(event.picture_path)
        .event-info
          .event-title
            %h3
              = event.title
          .event-date
            %p
              %i
                = event.date
          .event-summary
            %p
              = event.summary.html_safe
        - if logged_in? && current_user_admin?
          .event-edit-delete
            .edit-delete-buttons
              = link_to image_tag("icons/icon_edit.png"), "/events/update_picture/#{event.id}", :id => "edit-event-btn"
              = link_to image_tag("icons/icon_delete.png"), event_path(event), :title => "Delete event", :method => :delete, data: { confirm: "Do you want to delete this event?" }
- if logged_in? && current_user_admin?
  #add-event= link_to 'Add New Event', new_event_path