= content_for(:title, "News")
%h1 News

.publication_list
  - @news.each do |new|
    %table
      %tr
        %td.content
          = link_to new.content.html_safe, news_path(new)
          = new.date

          
          - if logged_in? && current_user_admin?
            = button_to 'Delete', news_path(new), :method => :delete, :confirm => 'Are you sure?'
          

- if logged_in? && current_user_admin?
  #add_new= link_to 'Add new News', new_news_path

