= content_for(:title, "Account Activation")
- flash.each do |name, msg|
  - if msg.is_a?(String)
    = content_tag :div, msg, :class => "flash_#{name}"

- if @user != nil
  .row
    %h1 Account Activation
    #account-activation-form.account-activation-form
      = form_tag account_activation_path(@user), :method => :put do

        = password_field_tag :password, nil, :placeholder => "Enter password", :required => true, :class => 'form-control', :id => "password"
        = password_field_tag :password_confirmation, nil, :placeholder => "Confirm password", :required => true, :class => 'form-control', :id => "password-confirmation"
        = hidden_field_tag :token , @token

        = submit_tag "Activate", :id => "account-activation-button"
- else
  %h2 Invalid activation link

