!!! 5
%html
  %head
    %title 
      = yield(:title) + " | Dr. Dunbar"
    = Gon::Base.render_data
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "//fonts.googleapis.com/css?family=Cookie", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .main
      %nav.nav
        .logo
          = link_to image_tag("logo.bmp"), root_path
        .nav-items-wrapper
          %ul.nav-top
            .nav-items
              %li{:class => 'dunbar-group'}= link_to "Dunbar Group", root_path
              %li= link_to "Home", root_path
              %li= link_to "People", members_path
              %li= link_to "Research", researches_path
              %li= link_to "Publications", publications_path
              %li= link_to "Teaching", courses_path
              %li= link_to "Outreach", events_path
              %li= link_to "Collaborations", collaborations_path
              %li= link_to "Group Info", group_infos_path
              %li= link_to "Links", links_path
              - if logged_in?
                %li= link_to "Logout", logout_path, :method => 'delete'
              - else
                %li= link_to "Login", login_path 
              %li{:class => 'menu-icon'}= link_to "☰", "#", :id => 'teste'
      .content
        = yield
    %footer.footer-distributed
      .footer-left
        .info-group-items-wrapper
          %div.info-group-item
            %i.fa.fa-map-marker
            %p
              %span 2311 Chemistry Building
              %span Department of Chemistry
              %span Texas A&M University
              College Station, TX
          %div.info-group-item
            %i.fa.fa-phone
            %p +1 979 845 5235
          %div.info-group-item
            %i.fa.fa-envelope
            %p
              %a{:href => "mailto:dunbar@tamu.com"} dunbar@tamu.com
      .footer-right
        = link_to image_tag("chem_logo.bmp"), "http://www.chem.tamu.edu/", :target => '_blank'
  :javascript
    function myFunction() {
        document.getElementsById("menu-icon")[0].classList.toggle("responsive");
    }