- if logged_in? && current_user_admin?
  .row
    %h1 Create New Member
    = form_tag({action: :create}, multipart: true) do
    
      = text_field_tag :name, nil, :class => 'entry', :placeholder => 'Full name', :required => true
      = text_field_tag :position, nil, :class => 'entry', :placeholder => 'Position (PhD Student, MSc Student, etc)'
      = text_field_tag :username, nil, :class => 'entry', :placeholder => 'Username', :required => true
      = text_field_tag :email, nil, :class => 'entry', :placeholder => 'E-mail', :required => true
      = text_field_tag :telephone, nil, :class => 'entry', :placeholder => 'Telephone'
      = text_field_tag :fax, nil, :class => 'entry', :placeholder => 'Fax'
      = text_field_tag :previous_affiliation, nil, :class => 'entry', :placeholder => 'Previous affiliation'
      = text_area_tag :bio, 'Howdy! This is my bio.' , :class => 'entry', :placeholder => 'Please enter a short description of the member'
      = text_field_tag :building, nil, :class => 'entry', :placeholder => 'Building'
      = text_field_tag :office, nil, :class => 'entry', :placeholder => 'Office'
  
      = label_tag :avatar, 'Please provide an image to the member profile' 
      = file_field_tag :avatar, :class => 'entry'
  
      = label_tag :cv, 'Upload member curriculum'
      = file_field_tag :cv, :class => 'entry'

      = label_tag :is_admin, 'System administrator?' 
      = check_box_tag :is_admin

      = submit_tag 'Save Member', :id => 'member_form_button'
- else
  %p Only users with privileges can add new members.
