.details
  %h2 Details about #{@member.name}

  %h3 Personal Information

  #picture
    = image_tag "#{@member.avatar_path}"

  %ul#personal_info
    %li
      Name:
      = @member.name
    %li
      Position:
      = @member.position
    %li
      E-mail:
      = @member.user.email
    %li
      Previous Affiliation:
      = @member.previous_affiliation
    %li
      Telephone:
      = @member.telephone

  %h3 Building Information

  %ul#building_info
    %li 
      Building:
      = @member.building
    %li
      Office:
      = @member.office

  %h3 Bio
  
  %p
    = @member.bio

  = link_to "Back to people page", members_path

  - if logged_in? && (current_user.id == @member.id || current_user_admin?)
    = link_to "Edit profile", edit_member_path(@member)
    = link_to "Delete profile", member_path, :method => :delete, data: { confirm: "Are you sure?" } 
